@import "tailwindcss";

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --btn-background: 0 0% 98%;
  --btn-background-hover: 0 0% 98% / 0.9;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  min-height: 100vh;
  font-family: var(--font-sans);
  background-image: radial-gradient(
      circle at 25px 25px,
      hsl(var(--foreground) / 0.1) 2%,
      transparent 0%
    ),
    radial-gradient(
      circle at 75px 75px,
      hsl(var(--foreground) / 0.1) 2%,
      transparent 0%
    );
  background-size: 100px 100px;
}
